@model _23DH110152_Shopbanacc.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">Xóa sản phẩm</h2>

<h4 class="alert-danger">Bạn thật sự muốn xóa sản phẩm này?</h4>
@Html.Partial("PVProdInfo",Model)

